:root {
    --primary-color: #2b71b1;
    --secondary-color: #f5f5f5;
    --light-blue: #64b5ff;
    --white: #ffffff;
    --dark-blue: #1d2327;
}
@mixin respond($breakpoint) {
    @if $breakpoint == xxl {
        @media only screen and (max-width: 1919px) {
            @content;
        }
    }

    @if $breakpoint == xl {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }

    @if $breakpoint == lg {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint == md {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint == sm {
        @media only screen and (max-width: 575px) {
            @content;
        }
    }

    @if $breakpoint == xs {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
}
html {
    // Default CSS Needs to Add In Each New Project
    font-size: 62.5%;
    @import url('https://use.typekit.net/tvl1mnp.css');

    $kobenhavn: 'kobenhavn-sans', sans-serif;
    $kobenhavnBold: 'kobenhavn', serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    a,
    button,
    span {
        font-family: 'kobenhavn-sans', sans-serif;
        padding: 0;
        margin: 0;
        color: var(--primary-color);
    }
    h1 {
        font-size: 8rem;
        line-height: 8rem;
        text-transform: capitalize;
    }
    h2 {
        font-size: 6rem;
        line-height: 6rem;
        text-transform: capitalize;
        @include respond('lg') {
            font-size: 5rem;
            line-height: 5rem;
        }
        @include respond('sm') {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
    h3 {
        font-size: 5rem;
        line-height: 5rem;
        text-transform: capitalize;
    }
    h4 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-transform: capitalize;
    }
    h5,
    h6 {
        font-size: 2.5rem;
        line-height: 4rem;
        text-transform: capitalize;
    }
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        font-weight: 100;
        line-height: 2.2rem;
        text-decoration: none;
        display: block;
    }
    a:hover {
        text-decoration: none;
        color: #2b71b1;
    }
    p {
        font-size: 1.7rem;
        line-height: 2.4rem;
        letter-spacing: 0.1rem;
        font-weight: 200;
        padding: 0;
        margin: 0;
    }
    .container {
        width: 129rem;
        max-width: 96%;
        padding: 0 1rem;
    }
    button {
    }

    // Create Comman Class
    .navbar-link {
        color: var(--primary-color);
        transition: 0.3s;
        padding: 0 0 0.5rem 0;
        font-weight: 300;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            height: 1px;
            bottom: 0;
            background-color: transparent;
            transition: all 0.25s ease-out;
            transform-origin: center;
        }
        &:hover:after {
            -webkit-transition: all 0.25s ease-in-out 0.25s;
            -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
            transition: all 0.25s ease-in-out;
            background-color: var(--primary-color);
        }
    }
    .default-btn {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        color: var(--white);
        font-weight: 300;
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
        background: var(--primary-color);
        display: inline-block;
        border-radius: 2.5rem;
        margin: 1rem 0 0 0;
        transition: all 0.35s;
        position: relative;
        overflow: hidden;
        line-height: 2.2rem;
        &::before {
            width: 3rem;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            border-radius: 2.5rem;
            background-color: var(--light-blue);
            transform: translate(-20%, 0) scale(0, 1);
            transform-origin: left center;
            transition: all 0.25s;
            z-index: 1;
            background-image: url('http://localhost:8080/images/next.png');
            background-size: 1.8rem;
            background-position: center;
            background-repeat: no-repeat;
        }
        &:hover {
            text-indent: 2.5rem;
            color: var(--white);
            &::before {
                transform: translate(0%, 0) scale(1, 1);
            }
        }
    }
    .read-more-btn {
        &::before {
            background-image: url('http://localhost:8080/images/next.png');
        }
    }
    .download-btn {
        &:before {
            background-image: url('http://localhost:8080/images/download.png');
        }
    }
    .documentation-btn {
        background-color: var(--light-blue);
        &:before {
            background-color: var(--primary-color);
            background-image: url('http://localhost:8080/images/document.png');
        }
    }
    .blog-card {
        border-radius: 1rem;
        padding: 2rem;
    }
    .txt-author {
        color: #a9a9a9;
        font-size: 1.2rem;
        font-weight: 200;
    }
    .default-badge {
        padding: 0 1rem 0.4rem;
        border-radius: 2.5rem;
        color: var(--white);
        text-transform: capitalize;
        background-color: #9c69a2;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .title_line {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            border: 0.1rem solid var(--primary-color);
            width: 6rem;
            bottom: -6px;
        }
    }
    .white-color {
        color: var(--white);
    }
}
