html{
    font-size: 62.5%;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p{
    font-size: .8rem;
    padding: 0;
    margin: 0;
}
address{
    font-size: 1.6rem;
}
h3{
    font-size: 2.5rem;
}