// @import url('https://use.typekit.net/tvl1mnp.css');
$kobenhavn: 'kobenhavn-sans', sans-serif;
$kobenhavnBold: 'kobenhavn', serif;

.header{
    &__link{
        letter-spacing: .2rem;
        font-weight: 300 !important;
        line-height: 2rem !important;
        text-decoration: none;
    }
    &__navlink{
        font-size: 1.6rem;
        font-family:'kobenhavn', serif;
    }
}