// @import url('https://use.typekit.net/tvl1mnp.css');
$kobenhavn: 'kobenhavn-sans', sans-serif;
$kobenhavnBold: 'kobenhavn', serif;

body .header {
    &__link {
        letter-spacing: .2rem;
        font-weight: 200;
        line-height: 2rem;
        text-decoration: none;
    }

    &__navlink {
        font-size: 1.6rem;
        font-family: 'kobenhavn-sans', sans-serif;
        font-weight: 200;
    }
}