.Dashboard{
    &__card-body{
        height: 9rem;
    }
    .col-md-2{
        padding: 0;
    }
    &__card{
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
    }
    &__employee-logo{
        text-align: center;
        background: #5c4ac7;
        color: #fff;
        font-size: 3rem;
    }
    &__employee{
        color: #fff;
        background: #5c4ac7;
    }
    &__details{
        h3{
            font-size: 2.3rem;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
    &__leave-logo{
        text-align: center;
        background: #1976d2;
        color: #fff;
        font-size: 3rem;
    }
    &__leave{
        background: #1976d2;
    }
    &__project-logo{
        text-align: center;
        background: #ef5350;
        color: #fff;
        font-size: 3rem;
    }
    &__project{
        background: #ef5350;
    }
    &__loan-logo{
        text-align: center;
        background: #67bb6a;
        color: #fff;
        font-size: 3rem;
    }
    &__loan{
        background: #67bb6a;
    }
}